[2016-04-14 20:44] jamesdixon opened #1 "paging parameters are being applied to specific resource requests"
When calling something like `GET /customers/1?page[limit]=10&page[offset]=0`, although a specific resource is being requested, paging parameters are still being applied to the query. This isn't having any adverse effects as of yet, but it's unnecessary.

[2016-04-14 20:45] jamesdixon opened #2 "repo name"
Does this repo name make sense?

[2016-04-14 20:47] jamesdixon opened #3 "add more comprehensive tests"
Although there is a basic test suite in place, it doesn't test combinations of different types of parameters. For example, there should be tests to cover requests like: `GET /customers/1?include=pets&fields[pet]=name` where sparse fieldsets are applied to included relationships.

[2016-04-15 01:28] jamesdixon opened #4 "need better method for detecting a collection"
The JSON API spec requires that requests for a single record are returned as an object. Alternately, requests for collections, even if the collection only contains a single records, should be returned as an array.

Unfortunately, there isn't a great way to detect whether data coming into the plugin needs to call `fetch` or `fetchAll` depending on whether the user is requesting a single record or c

[2016-04-15 01:43] #4 closed

[2016-05-10 16:41] kwelch2015 opened #9 "Descending sort arguments are getting incorrectly transformed"
We are seeing invalid results when passing in a descending sort argument.  Basically it ignores this part of the JSON API Spec: 'The sort order for each sort field MUST be ascending unless it is prefixed with a minus (U+002D HYPHEN-MINUS, “-“), in which case it MUST be descending.'  Sort arguments prefixed with a minus are not being properly processed.

We think you could resolve it in the buildSo

[2016-05-10 17:06] jamesdixon commented on #9
Thanks for reporting, @kwelch2015. You are correct -- definitely an issue. Not sure when I'll be able to get to this, but more than happy to accept a PR.

[2016-05-10 17:56] kwelch2015 commented on #9
All set - we submitted one.

On Tue, May 10, 2016 at 1:06 PM, James Dixon notifications@github.com
wrote:

[2016-05-10 18:38] jamesdixon commented on #9
Thanks @kwelch2015 @jdevries. Merged and released as 0.4.0.

[2016-05-10 18:38] #9 closed

[2016-06-01 23:16] jamesdixon opened #11 "allow overriding of include parameters"
When using the `include` parameter, the plugin currently creates a `withRelated` array based on the values of the parameter and passes it to `fetch`/`fetchAll`. In some cases, you may want to do something more advanced by passing a query builder expression.

We can check the `options` hash to determine if a `withRelated` function already exists for the included relation and use it rather than addi

[2016-06-03 03:38] jamesdixon commented on #11
fixed via 351f57f

[2016-06-03 03:38] #11 closed

[2016-06-14 04:01] jamesdixon opened #12 "sort doesn't work with multi-word column names"

[2016-06-14 04:55] #12 closed

[2016-06-16 12:04] kentwelch commented on #12
This fix didn't work for us.  I submitted a pull request containing a fix that does work for us and a couple of unit tests that will verify this in the future.

[2016-06-16 21:25] kentwelch commented on #2
I don't mind it  - it was easy to find and was just what we were looking for.

[2016-06-16 21:49] jamesdixon opened #15 "support sorting on relation fields"
Currently, the plugin only supports sorting on the top level model. For example, for a `person` that has many `pets`, you can only sort on fields that belong to `person`. If for some reason you wanted to sort `person` by the weight of their pets, you cannot do something like `GET /people?sort=pet.weight`.

See #14 for a deeper discussion.

[2016-06-16 21:53] jamesdixon opened #16 "support filtering on relation fields"
Currently, the plugin only supports filtering on the top level model. For example, for a `person` that has many `pets`, you can only sort on fields that belong to `person`. If you wanted to find only people that have dogs, you cannot do something like `GET /people?filter[pet.species]=dog`.

[2016-07-07 01:02] djbreen7 opened #17 "Response is not JSON"
Stack:
- hapi
- bookshelf
- MySQL

**controllers/driver.js**
[code]

My response/reply is:

[code]

Expecting the data object/array.

I fully accept that I'm probably doing something wrong, but the only thing I feel like I'm doing differently is a reply() instead of return. Any thoughts?

[2016-07-07 01:29] jamesdixon commented on #17
@djbreen7 are you configuring the plugin properly? https://github.com/scoutforpets/bookshelf-jsonapi-params#usage

[2016-07-07 01:30] dapperdandev commented on #17
I believe so:

**bokshelf.js**

[code]

I'll push it up and share the repo

[2016-07-07 01:35] dapperdandev commented on #17
https://github.com/djbreen7/ejs-taxi-hapi

Also, I'm using Node 4.4.7

[2016-07-07 01:35] jamesdixon commented on #17
Just to be clear, you're expecting to a JSON API response, correct?

[2016-07-07 01:36] dapperdandev commented on #17
Yes

[2016-07-07 01:37] jamesdixon commented on #17
The issue is that this repo doesn't actually convert the response to JSON API. You need my other library: https://github.com/scoutforpets/jsonapi-mapper

[2016-07-07 01:49] #17 closed

[2016-07-07 01:52] dapperdandev commented on #17
Cool. Thanks! Got a JSONAPI Response. I did the code slightly differently than the docs suggest.
I used

`const Mapper = require('jsonapi-mapper');` instead of `import Mapper = require('jsonapi-mapper');`

Typo?

[Commit: Get A JSONAPI Response](https://github.com/djbreen7/ejs-taxi-hapi/commit/ef401e563f30addc37e7216828916afcb9768cfd)

[2016-07-07 01:53] dapperdandev commented on #17
Thanks a million for building these. Way to be leading the way. I really appreciate it

[2016-07-07 01:54] jamesdixon commented on #17
Yep, that's a typo. Thanks!

[2016-07-07 01:54] jamesdixon commented on #17
Of course! Feel free to contribute if you can. I can certainly use all the help I can get 👍

[2016-07-07 01:57] dapperdandev commented on #17
I'll ping ya. I've only been a "professional" dev for 5 months. I'll write up a blog post on how I got things working. Not sure how much I can help in the source code, but I'll try.

[2016-07-07 02:02] dapperdandev commented on #17
Jk. Github doesn't put emails out. I'm in the ember slack `dapperdan` if you're on there.

[2016-07-07 22:04] #2 closed

[2016-08-22 10:07] npatmaja opened #19 "Filter using like operator"
Hi, is the package currently support like operator statement, e.g., `name like %john%`.

Currently, I define the `like` operator as `contains`, so the URL would become like
[code]
Then, I separated out that filter and build `where` statements manually based on that (I build a [bookshelf plugin](https://github.com/npatmaja/bookshelf-flexi-where) for this purpose). It would be really great if it is

[2016-08-25 00:51] jamesdixon commented on #19
Hi @npatmaja,

Thanks for your message.

Unfortunately, it doesn't support this type of syntax at the moment. The JSON API spec unfortunately isn't very specific on anything but the simplest of filtering syntax, so I kept things simple. That said, I'd be interested in possibly integrating your plugin to enable this as I've run into this issue myself. More than willing to accept a PR!

Thanks,
Jame

[2016-09-07 05:06] npatmaja commented on #19
@jamesdixon Sorry for the late reply.

First of all, is the syntax ok (using contains, lt, gt, lte, gte)?

I still need to figure out how to best integrate the feature with this module, and maybe #16 as well. Currently my solution was to create a new plugin to extend **bookshelf-jsonapi-params**, but it feels a bit hacky at the moment.

[2016-09-07 14:50] alechirsch commented on #19
Hi, I recently just took a stab at adding functionality for filtering by a specific "type".
I added support for 'like', 'not', 'lt', 'gt', 'lte', and 'gte'. Let me know what you think of it.
[https://github.com/alechirsch/bookshelf-jsonapi-params](https://github.com/alechirsch/bookshelf-jsonapi-params)

[2016-09-07 15:26] jamesdixon commented on #19
@npatmaja I like that syntax and think it's a good way to go!

@alechirsch it looks like you've implemented exactly what @npatmaja suggested? I didn't review the code in detail, but seems great. Can you write up some tests to go along with it? If so, more than happy to accept a PR.

Thanks, gents!

[2016-09-07 15:28] alechirsch commented on #19
I will look into writing some tests as well as updating the README, I should be able to get to it within the next few days.

[2016-09-07 15:33] jamesdixon commented on #19
Great. Thank you!

[2016-09-07 15:42] alechirsch commented on #19
In addition to my fork of this repository, I also forked node-jsonapi-query-parser to support this feature.
[https://github.com/alechirsch/node-jsonapi-query-parser](https://github.com/alechirsch/node-jsonapi-query-parser)

[2016-09-07 15:51] jamesdixon commented on #19
Any chance you can contact the owner of that repo and see about getting your changes merged?

[2016-09-07 15:55] alechirsch commented on #19
Yeah, I will look into it

[2016-09-08 03:09] npatmaja commented on #19
@alechirsch cool!

I skimmed over the code and I think it can be improved by separating out the checking of the operators (contains/like, lt, gt, etc) so that we can reuse it when doing #16, as the deep relation filter should be able to have this functionality, I assume. Furthermore if we want to add more operator, a _between_ perhaps, it will be easier as the code is isolated in a separate functi

[2016-09-08 19:10] alechirsch commented on #19
I think #16 is a completely separate beast that we should consider after this feature is in.

@npatmaja Do you have any suggestions to improve the syntax that I have implemented, we should definitely collaborate on that. I still want to keep it separate from "filter" so we don't affect what is already implemented and being used by other people.

@jamesdixon I will add tests and Documentation for w

[2016-09-08 23:54] jamesdixon commented on #19
@alechirsch thanks for adding tests/docs. I'll do a thorough code review soon.

Regarding the syntax, I actually prefer the syntax that @npatmaja suggested as it doesn't introduce another parameter to deal with. From what I can tell, I don't see it having any conflict for previous user. For example:

`/pets?filter[name]=max` would return all pets named max. It's a straight equality comparison.

`/

[2016-09-08 23:55] jamesdixon commented on #19
This might be worth looking at: http://elide.io/pages/guide/08-filters.html

Elide is Yahoo's java implementation of JSON API

[2016-09-09 04:01] npatmaja commented on #19
@jamesdixon @alechirsch I think it should be the case for filters without operator, it should be interpreted as _equal_ operator or _in_ if it is supplied with a list of values, as mentioned in http://jsonapi.org/recommendations/#filtering

For `between` I guess we could do something like `?filter[weight][between]=25..10` or `?filter[weight][between]=25,10`. For `and` and `or` it is really tricky,

[2016-09-09 04:17] alechirsch commented on #19
It may be tricky to avoid conflicts in the filter object. The filter object would have both strings and objects as fields.  more specifically, it may have an equality field as well as always having the objects like, not, gt, lt, gte, and lt. While it is unlikely that there would be a column name with one of these filter types, its certainly a possibility.

That was the main reason why I kept the f

[2016-09-09 13:05] alechirsch commented on #19
It is certainly possible to avoid conflicts and have this syntax /pets?filter[weight][gt]=50&filter[like]=true if we keep the backend structure the same. If a user sends the above query, the result from  node-jsoapi-query-parser it would be the following

[code]

[2016-09-09 14:55] alechirsch commented on #16
I am currently looking into solving this issue.

[2016-09-09 15:14] jamesdixon commented on #19
@npatmaja

Agreed.

The comma syntax is probably the simplest and easiest to deal with. I'm good with it for now.

@alechirsch I'd prefer to keep the syntax using only a `filter` attribute. Given that JSON API hasn't specified any other fields related to filter (nor anything else related to the implementation for that matter), I think it might be best to work within the parameters that have been g

[2016-09-09 15:16] jamesdixon commented on #16
@alechirsch I did have someone ask in the past to be able to support filtering on relationships n layers deep. I think that's probably a bit overkill and increases the complexity quite a bit. That said, I'd recommend only support relations a single layer deep. Thoughts?

[2016-09-09 15:31] alechirsch commented on #16
I have an idea that would allow n layers deep. The implementation that I am considering would allow for both filtering and sorting by related fields n layers deep. The basic idea is to look through all filter and sort fields, split each by "." and maintain a hash of tables required for the filters and sorting. Then loop through the hash and chain "left outer join".

I tested this with raw SQL for

[2016-09-09 15:36] alechirsch commented on #19
Ok, in the documentation we should say that like, not, gt, ... are all reserved keywords. I am not going to add any more keywords at the moment.

@jamesdixon Do you think the syntax should be filter[like][name] or filter[name][like]?

[2016-09-09 15:44] jamesdixon commented on #19
Makes sense!

I believe the latter makes the most sense given that if it's an equality or in operation, there's no operator and we're specifying the column name. The column name would be the first regardless.

Thanks again, @alechirsch!

[2016-09-09 15:53] jamesdixon commented on #16
@alechirsch sounds good to me! If you can make it work without too much complexity, then go for it!

I actually believe I had started on this a while back, but I recall it being late and producing fairly shitty results, so I stopped :) However, I did come up with a slightly more robust (I think) way to parse the sort parameter. Take a look and see if it's something that should be integrated as you

[2016-09-09 16:02] npatmaja commented on #19
@jamesdixon @alechirsch 👍  cool!

Thanks gentlemen!

[2016-09-09 17:18] alechirsch commented on #19
@jamesdixon I implemented the changes to the syntax and updated all of the tests. I also updated node-jsonapi-query-parser with the new syntax changes.

Let me know what you think and if it is ready to be merged.

[2016-09-09 20:51] alechirsch commented on #16
@jamesdixon I am currently developing this feature, as well as #15, on [this branch](https://github.com/alechirsch/bookshelf-jsonapi-params/tree/related-fields-sort-filter). Feel free to look at it, there is still work to be done. I currently have all of the required relationships mapped out and still need to add those relationships to the main query.

The idea is that we would not need to modify

[2016-09-09 20:54] gmarkv10 commented on #19
@jamesdixon I am working with an Ember frontend and just came across an issue when trying to dynamically generate filter options from a visual search component that makes a strong case against the [name][like] order.

In our search component you have the option to select an option for equivalency or to use the 'like' operator, here is where I see the problem become ill-defined with [name][like] or

[2016-09-12 22:18] alechirsch commented on #16
I ran into a problem with anything more than one layer deep. Do you know of a way to access the model object of a relation? I think this is order to look up the relationship data,  which has the tables and foreign key information

[2016-09-13 00:43] adnanoner opened #21 "fetch({ require: true })"
Hi guys, thanks for the wonderful plugin 👍 !
I want to trigger the NotFoundError of bookshelf. I normally did this by adding { require: true } parameter. Now if I add this to the object that comes out of the node-jsonapi-query-parser, I can't check it conditionally with `if (error instanceof User.NotFoundError) {` (I can do a regex though). Is there a quick fix for this? Thanks again!

[2016-09-13 06:20] alechirsch commented on #16
@jamesdixon I figured out how to access the relation models and I now have n-level deep filtering and sorting for relationships. Each relationship type has a special case, currently I have the following relationship types implemented: hasOne, hasMany, belongsTo, belongsToMany. I still need to implement for the three Morph types.

I have the latest code on this [branch](https://github.com/alechirsc

[2016-09-13 14:54] alechirsch commented on #16
@jamesdixon Did you ever find and answer for your question that you posted [here](http://stackoverflow.com/questions/35997706/reverse-relationship-lookup-with-bookshelf-js-polymorphic-relation?rq=1)?

[2016-09-13 18:53] jamesdixon commented on #19
@gmarkv10 thanks for your input. Based on your example, I can see where this could be a problem.

@alechirsch do you have any input on this?

[2016-09-13 18:54] jamesdixon commented on #16
@alechirsch I didn't. See here: https://github.com/tgriesser/bookshelf/issues/1159

[2016-09-13 19:05] alechirsch commented on #19
@jamesdixon This is not an issue for this specific package. The discussion around the syntax is more related to how node-jsonapi-query-parser works.

I think it should be [like][name] simply because we should keep it consistent with the way we can access a javascript object.

As @gmarkv10  pointed out, we cannot have a filter object that looks like this:

[code]

The filter object that this packag

[2016-09-13 20:54] jamesdixon commented on #21
@adnanoner can you provide a code example?

[2016-09-13 20:55] jamesdixon commented on #19
Fair enough. Thank you for the clarification

[2016-09-14 09:39] adnanoner commented on #21
Sure,

[code]

I used to use .fetchAll with `{require: true}`, so that I can conditionally check for `if (error instanceof User.NotFoundError)`, but now with .fetchJsonApi it does not trigger anymore.

[2016-09-14 15:34] jamesdixon commented on #21
@adnanoner

This will still work -- I'm doing exactly that. Here's an example of my overridden `findOne` method that uses `require: true`:

[code]

[2016-09-15 18:11] jamesdixon commented on #19
Closed via #22

[2016-09-15 18:11] #19 closed

[2016-09-15 18:11] jamesdixon commented on #16
Closed via #22

[2016-09-15 18:11] #16 closed

[2016-09-15 18:11] jamesdixon commented on #15
Closed via #22

[2016-09-15 18:11] #15 closed

[2016-09-15 18:12] jamesdixon commented on #21
@adnanoner any luck?

[2016-09-18 17:27] jamesdixon commented on #21
@adnanoner closing this for inactivity. Feel free to re-open if you're still having an issue.

[2016-09-18 17:27] #21 closed

[2016-10-03 15:08] alechirsch opened #23 "Unable to page using page[number] and page[size]"
Currently the package allows for page[limit] and page[offset], however it does not work with page[number] and page[size]. I took a look at the 'bookshelf-page' package and found that they use 'page' and 'pageSize', however these parameters do not seem to work either. This is probably an issue with the 'bookshelf-page' package rather than this package.

[2016-10-03 15:14] alechirsch commented on #23
Turns out this was my own error... I was applying a default page[limit] if page[limit] did not exist

[2016-10-03 15:14] #23 closed

[2016-10-05 16:11] adnanoner commented on #21
Hi @jamesdixon , sorry for the really late reply! Indeed you were correct so this issue is closed justly. Thanks again for the great plugin 👍

[2016-10-05 16:12] jamesdixon commented on #21
@adnanoner glad to hear it! Cheers

[2016-10-12 21:19] adnanoner opened #24 "Casing (camelcase / snakecase conversion)"
So my database uses snakecase, however I'm outputting camelcase with the jsonapi-mapper package. So when I do `?fields[users]=orgId`, it does not work since it expects `org_id`. Is there an option for this, or could I change it plugin so I don't have to convert the case every time?

[2016-11-24 21:32] ErisDS opened #26 "LIKE results in ER_PARSE_ERR in MySQL (incorrect use of quotes)"
I've been playing a little bit with the filtering feature which is in beta, using this module + https://github.com/kideh88/node-jsonapi-query-parser

For the most part, it seems to work pretty well, which is awesome 👍

However, I'm having a problem using `like`.

E.g. A plain `eq` filter works just fine

`/users?filter[email]=me@myaddress.com`

However if I change it to

`/users?filter[like][email

[2016-11-25 00:05] alechirsch commented on #26
@ErisDS Thanks for pointing out that problem. When I implemented those features I was only considering postgres. Would you mind testing your idea and submitting a pull request?

I do not foresee having time to look into solving this problem.

Thanks!

[2016-12-08 04:25] nparsons08 opened #27 "Usage with node-jsonapi-query-parser"
You recommend using the node-jsonapi-query-parser module and that the produced object can be passed directly into the plugin without modification; however, when attempting to do so, nothing whatsoever happens... no filtering, nada. Any ideas? Your help is greatly appreciated!

[2016-12-08 04:40] nparsons08 opened #28 "Requires trailing slash on endpoint with node-jsonapi-query-parser"
I was banging my head against the wall and then I had the bright idea to add a slash to the end of my URL. This fixed the issue with filtering not working with node-jsonapi-query-parser. Any thoughts on a permanent fix?

[2016-12-08 05:05] alechirsch commented on #28
What did your URL look like before and after?

[2016-12-08 05:07] astrotars commented on #28
**Before:**
`http://localhost:3000/users?filter[email]=gisipa@wi.na`

**After:**
`http://localhost:3000/users/?filter[email]=gisipa@wi.na`

[2016-12-08 05:09] alechirsch commented on #28
It is strange that the extra slash affected the result. This seems like an issue with your server rather than the package. I am able to use it without a slash at the ends of the URLs.

[2016-12-08 05:11] astrotars commented on #28
Yeah, very odd. I'm using Restify. So nothing crazy.

[2016-12-08 05:11] alechirsch commented on #28
Can you post the code for the users route?

[2016-12-08 05:13] astrotars commented on #28
Sure thing.

[code]

[2016-12-08 05:20] alechirsch commented on #28
You need to pass query.queryData to the fetchJsonApi function

[code]

[2016-12-08 05:27] astrotars commented on #28
It appears that when passing `query.queryData`, it kills the server with a rather verbose MySQL error message:

[code]

[2016-12-08 05:33] alechirsch commented on #28
The changes that I made to this package seem to be having a negative affect on MySQL. Did that error give you the query that failed?

[2016-12-08 05:34] astrotars commented on #28
`select `users`.* from `users` where `like` in ({}) and `not` in ({}) and `lt` in ({}) and `lte` in ({}) and `gt` in ({}) and `gte` in ({}) and `email` in ('tu@hijagnek.mw/') limit 1`

[2016-12-08 05:42] alechirsch commented on #28
That is crazy, I'm not sure why it would be doing this only for MySQL, when I implemented the extra filtering features I was using postgresand never tested against MySQL.

It is not supposed to be adding in those conditionals.
Would you possibly have time to step through and figure out why it is adding those extra conditionals? I'm pretty busy at the moment with other projects.

[2016-12-08 05:45] astrotars commented on #28
I'm also pretty limited on time and expertise with the project. Happy to help out however I can, though.

[2016-12-08 05:48] alechirsch commented on #28
At some point I will have to take the time to install MySQL and figure out what's going on.

The current tests use SQLite, it may be a good idea to add tests for both MySQL and Postgres.

[2016-12-08 05:50] alechirsch commented on #28
The version before the beta should work better with MySQL if you don't need the advanced filtering features.

[2016-12-08 07:43] astrotars commented on #28
Thanks. I'll have to backdate my build a bit until we can come up with a solution. Thanks for the help!

[2016-12-27 08:38] Moinax commented on #27
Hi @nparsons08

I tried to use it too and I finally realised that we only need to pass the "queryData" property to the "fetchJsonApi" method and not the complete object.

I still trying to figure how to pass the "identifier" when I'm looking for a single resource, and I don't see how "relationships" and "relationshipType" could work with it.

[2016-12-27 10:18] Moinax commented on #27
It seems that we can get a single resource by using the method "where" before calling the "fetchJsonApi" method (saw this in the tests).

So `model.forge({ id: 1 }).fetchJsonApi()` is not working
But `model.where({ id: 1}).fetchJsonApi()` is working

So what I do is checking if we have an "identifier" in the object provided by "node-jsonapi-query-parser" and use it in the "where" method.

    cons

[2017-01-05 06:55] nparsons08 opened #29 "Filter query always returns first result"
A little stuck here. Getting ready to go live with my API using MySQL and I noticed that the filter query always returns the first result in the collection. Any thoughts?

[2017-01-05 19:19] astrotars commented on #29
It was a late night, so I didn't think about dropping in an example. Here's my use-case:

I have a collection called kwh-rates that returns an array of objects containing kwh-rate objects:

[code]
From the browser, I need to filter down to a specific object (let's say IA), so I hit the API with the following:

[code]

My response always comes back with the first result in the collection, for examp

[2017-01-05 19:32] jamesdixon commented on #29
@nparsons08 I'm not sure offhand. Unfortunately, this isn't something I'm going to have time to look at. If you haven't already, I'd recommend tracing through to the plugin and see if you can't determine the issue at that level.

In general, I admit that I haven't tested against MySQL. Ideally, we'd have tests for Postgres, MySQL and SQLite, but on the other hand, I believe that's already been don

[2017-01-06 14:33] alechirsch commented on #29
It looks like you are missing an important part in the code, try this:

[code]

Specifically this line: fetchJsonApi(query.queryData, true)

[2017-01-06 17:32] astrotars commented on #29
@alechirsch Thanks for the heads up. It makes sense that I need that part. However, after adding it, I get a MySQL error stating that I have invalid SQL.

[code]

[2017-01-06 17:37] astrotars commented on #29
It looks like

[code]

shouldn't be there if the object is empty.

[2017-01-06 17:50] alechirsch commented on #29
It should not be there, it's a compatibility issue with MySQL. The sql
syntax is different between Postgres and MySQL.

On Fri, Jan 6, 2017, 12:37 PM Nick Parsons <notifications@github.com> wrote:

[2017-01-06 18:16] astrotars commented on #29
Definitely. Hopefully, that can be fixed in a future build. The `1.0.0-beta.1` release is working for me now. Had to manually drop that into `package.json` for it to be picked up. Thanks for the help!

[2017-01-06 18:16] #29 closed

[2017-01-13 00:30] adnanoner commented on #24
If anyone is ever looking for this, I just created a simple module that does this for me. To give you an idea you could use a function like:

[code]

and call `.fetchJsonApi(filterQuery(req), false)`

[2017-01-13 00:30] #24 closed

[2017-01-18 04:09] jamesdixon opened #30 "implement "OR" filtering"
@alechirsch I know we had briefly discussed a possible API to handle the case when you want to filter on _x_ OR _y_ rather than _x_ AND _y_.

Want to restart that discussion here and figure out an API?

[2017-01-18 04:10] jamesdixon commented on #27
@nparsons08 can you share your code?

[2017-01-19 05:27] alechirsch commented on #30
Sure, I'd be happy to discuss it

[2017-01-19 05:33] alechirsch commented on #26
@erisds did you ever get a chance to implement a fix?

[2017-02-06 11:29] ErisDS opened #31 "No handling of null values in filter"
Pretty sure the issue is with this repo, rather than https://github.com/kideh88/node-jsonapi-query-parser.

Try to filter for null values doesn't work. If I try to set something like `filter[deleted_at]=null` in the query string, I get an empty result set.

If I try to set the filter programmatically before calling bookshelf-jsonapi-params, e.g.

[code]

I get this error:

[code]

Should this work

[2017-02-06 11:39] ErisDS commented on #30
Throwing in an idea here:

Ghost has a filter query language that works with JSON API's `?filter=` query param and supports  OR queries, it's called [GQL](https://github.com/TryGhost/GQL). The syntax is based on the filtering available in gmail, github and slack.

An example would be `?filter=foo:bar,bar:foo` - a comma denotes an OR. `?filter=foo:bar+bar:foo` - a plus denotes an AND. It does requi

[2017-02-06 16:58] jamesdixon commented on #31
@ErisDS I haven't personally tried it, but theoretically it should work.

I don't have enough time to dig into the code, but if you're able to find the issue, we'd love a PR!

[2017-04-26 21:01] alechirsch commented on #31
@ErisDS I just ran into this problem and am working on a fix

[2017-04-26 21:35] alechirsch commented on #31
@ErisDS @jamesdixon I fixed this in #25. I fixed it in that pull request because there would be merge conflicts otherwise.

[2017-05-15 20:05] #31 closed

[2017-06-22 14:43] ErisDS opened #35 "Sort descending only ever works 1 time"
We've been experiencing issues with sort for a while, and haven't been able to figure out what was wrong.

Yesterday, we ran some tests, and determined the behaviour is as follows:

If you use sort descending, e.g. `sort: ['-id']`, it works the first time you run the query, and therefore passes tests / appears to work. However all subsequent requests go back to sorting by ascended.

I believe the

[2017-06-22 14:48] jamesdixon commented on #35
Thanks for reporting, @ErisDS!

Is this something you could write a failing test for and possibly a quick PR to fix?

Thx!

[2017-09-05 07:01] VladimirPal opened #36 "How to work with hasMany"
Hi!
Trying to use the plugin and can't understand what i'm doing wrong with hasMany.

[code]
I got:
[code]
<img width="1157" alt="1__npm_run_dev__node_" src="https://user-images.githubusercontent.com/555405/30048922-25a53e50-9221-11e7-9ea1-d74073877c23.png">

[2017-09-05 07:29] VladimirPal commented on #36
Sorry guys, wrong models definition

[2017-09-05 07:29] #36 closed

[2017-11-21 22:08] flmg opened #37 "Support 'like' filter on postgresql jsonb columns"
Hey, great plugin!

I'm trying to use the `like` filter but it doesn't work on postgresql `jsonb` columns

`select "mytable".* from "mytable" where (LOWER("mytable"."jsoncolumn") like LOWER($1)) - function lower(jsonb) does not exist`

The request is generated by:

    qbWhere.where(
        Bookshelf.knex.raw(`LOWER(${formatedKey}) like LOWER(?), [`%${typeValue}%`])
    );

In postgresql, adding

[2017-11-21 23:27] alechirsch commented on #37
I personally think that is a good idea and do not see any problems with converting to text, I can look into doing this for postgres.

[2017-11-28 21:28] alechirsch commented on #37
@flmg Something that I having been meaning to get to is fixing the compatibility issues between the newer filters features and MySQL. I would want to consider compatibility for this feature as well, I am not sure that MySQL supports that casting syntax.

[2017-12-01 11:28] alexcouret commented on #37
@alechirsch Hi, I have just checked with MySQL, and it doesn't need any casting, as would PostgreSQL, so adding the `::text` cast on Postgres' side seems to be enough.

I tested on http://rextester.com/l/mysql_online_compiler with these queries:
`DROP TABLE IF EXISTS test;`
`CREATE TABLE test (enumtest ENUM('a', 'b', 'c'), jsontest JSON);`
`INSERT INTO test (enumtest, jsontest) VALUES ('b', '{"a":

[2017-12-06 19:37] alechirsch commented on #37
We would need to do something specific for each SQL syntax, meaning we need to add conditional code to do something different depending on the database being used.

After I implement this, I would love to get some help on getting test cases for every database supported by knex. The tests currently support only SQLite3.

Postgres, MSSQL, MySQL, MariaDB, SQLite3, and Oracle

[2017-12-06 22:29] alechirsch commented on #26
@ErisDS Sorry I took over a year to finally get to this and figure it out, I believe I have solved the problem with my most recent PR

[2017-12-06 22:29] #26 closed

[2017-12-06 22:30] alechirsch commented on #37
@flmg @OzoTek Once my PR is published it should be working, feel free to review it.

[2017-12-06 22:53] jamesdixon commented on #37
@alechirsch ill wait to publish to npm until you have this other PR merged

[2017-12-07 15:53] alechirsch commented on #37
@jamesdixon Should be all set

[2017-12-07 15:53] #37 closed

[2017-12-08 14:48] alexcouret commented on #37
@jamesdixon Thanks! Do you have an ETA as to when this will be published on npm?

[2017-12-08 16:51] jamesdixon commented on #37
Just published v1.0.0 to NPM! Thanks to everyone for their hard work!

[2017-12-27 23:13] alechirsch commented on #27
I am closing this for now, @nparsons08 I will reopen if you still have problems?

[2017-12-27 23:13] #27 closed

[2018-03-05 10:57] prieston opened #45 "Implement json filtering"
As I see this plugin doens't support filitering columns with datatype json. Latest versions of postgres support json data type columns so I think it would be nice if this plugin also supported filtering for columns with data type json.

A sample of filtering would be
`filter[column_json][property_1]=example`
or
`filter[like][column_json][property_1]=exam`

[2018-03-05 16:19] jamesdixon commented on #45
Great idea! You’re more than welcome to submit a PR (with tests) for this functionality.

On Mar 5, 2018, 3:57 AM -0700, Prieston <notifications@github.com>, wrote:

[2018-04-24 13:57] #28 closed

[2018-05-30 13:22] gmarkv10 opened #50 "Multiple sort columns that mix complex and non-complex fields result in bad SQL"
Say for example you make a call like this:

[code]

You would get an error from your SQL database. This is because when internals.buildSort calls formatColumnNames the iteration has undesired behavior. On the first iteration of formatColumnNames, line 630 of src/index.js correctly sets columnNames[0] to 'petOwner.age'. On the second iteration however, line 651 modifies **all** columnNames via Book

[2018-05-30 20:18] #50 closed

[2019-03-05 12:33] a-wf commented on #27
Hi,

I have an issue, related with moinax talk about.
How to handle the relationships like : https://jsonapi.org/format/#fetching-relationships

For instance, when I send a request to `/authors/{id}/relationships/books`, I get with the jsonapi-query-parser:
[code]
relationships is true, relationshipType is books,   I should get as result of bookshelf a array of books's id witthout attributes.

hav

[2019-03-05 15:30] alechirsch commented on #27
@akdj Fetching relationships via "relationships" and "relationshipTypes" is currently not supported in this package. If you would like to take that on and try implementing it, I will certainly take a look.

[2019-03-06 09:24] a-wf commented on #27
@alechirsch
I read this parser's code, and finally understood that it is not the role of a fetch to do what I what.

So I find another way this morning, I did this by using knex queryBuilder.select('id').innerJoin(...).where(...) then with jsonapi-mapper parsing the queried data with option attributes omit 'id'

[2019-04-04 11:53] akdj opened #53 "query in one transaction failed"
Hello,

I am trying to use RLS system on my app.
for that some of my queries should be in a same transaction.

with fetch, fetchAll, I done it without issue
so after I see the code of the fetchJsonApi, I supposed that there is no issue with standard fetch option, like : {transacting: t}, it is supported.

However, it seems that work not well,  I get :
```unrecognized configuration parameter app.us

[2019-04-04 13:23] a-wf commented on #53
I found the issue, I think it is about the fetchPage

[2019-07-29 18:58] alechirsch commented on #45
I will be looking into implementing this over the next few days. Ideas are welcome

[2019-07-29 19:16] alechirsch commented on #45
My current plan is to keep the current API as is. An additional character will be used to specify where a json column is, this will be a colon `:`

To filter on a json column, you would do something like this:
`filter[like][metaData:prop1]=value`
If you are going through a relationship it would look like this:
`filter[like][rel.metaData:prop1]=value`
Filter multiple nested objects in the json fiel

[2019-07-29 19:55] alechirsch commented on #45
@jamesdixon We will need another way to test, since SQLite does not support json filtering, plus I am planning to implement only for Postgres at the moment.

[2019-07-30 15:31] alechirsch commented on #53
@akdj I am not sure how to help you with this, can you describe the problem in more detail?

[2019-07-30 16:02] a-wf commented on #53
@alechirsch  Hi, I think my issue is not about the bookshelf-jsonapi-params

I am working on RLS (views, policies, triggers) system of postgreSQL.

In my app, I am using bookshelf with pagination plugin

Each time I query, I put two queries in one transaction:

[code]
I get :
[code]
with fetch and fetchAll works well.

It maybe a issue of bookshelf or knex side. thanks for your reply

[2019-07-30 16:02] #53 closed

[2019-08-06 18:54] alechirsch commented on #45
@prieston published as `1.2.0`

[2019-08-06 18:54] #45 closed

[2019-08-06 18:55] #35 closed

[2019-10-10 07:27] sebpowell opened #57 "Filtering on related models"
I'm running into a problem when trying to filter relations. In Bookshelf, I would normally run the following query which should hopefully help to illustrate what I'm trying to do:

[code]

Selecting fields for a relation seems to work in the following way:

/speakers?include=events&fields[events]=name

So I tried a similar approach for the above:

/speakers?include=events&filters[events][format]=1

[2019-10-10 08:16] alechirsch commented on #57
What you are trying to do is not supported by this package. The relationship filtering that was implemented was to filter a model _by_ its relationships, rather than filtering the included relationships themselves.

For example,  /speakers?include=events&filter[events.format]=1 would give you all speakers that have an event with a format of 1, with all their events included.

What you want to achi

[2019-10-10 08:39] sebpowell commented on #57
@alechirsch – thanks for the quick response! Much appreciated :)

So just to make sure I've understood you correctly – the example you've provided would allow speakers to be filtered based on whether they have spoken at an event with the specified format. So effectively, we're filtering the collection of returned speakers, rather than the collection of events associated with each speaker.

If so,

[2019-10-10 09:36] alechirsch commented on #57
Your first statement is correct, it will return what you laid out.

additionalQuery is applied to the speaker collection query. You can use the include parameter the same way you would use withRelated, so it's still possible to filter relationships.

It might be possible to implement what you are looking for in this package. But in my experience so far I have not needed it, there is usually a work

[2019-12-01 11:54] sempostma opened #60 "Bug/ignore aggregate function format"
#59

Format the columns of aggregate function not the entire expression.

For example with the case-converter-plugin:

First:
count(personId) -> count_person_id

Now:
count(personId) -> count(person_id)

[2020-01-21 13:46] #3 closed

[2020-02-03 22:21] alechirsch commented on #30
#63

[2020-02-05 22:26] #30 closed

[2020-02-06 18:42] alechirsch commented on #57
@sebpowell If you are still interested in this feature we can discuss further, otherwise I might close this.

[2020-02-12 22:06] alechirsch opened #65 "Or filtering does not respect the AND filters"
Given the below filter:
[code]
Currently the generated SQL for the where clause will produce this:
[code]

The generated SQL should instead look like this:
[code]

Related to #63

@massimo-ua I found this when trying to use the or filter feature, I will be looking into a fix for this. Can you confirm your intentions when building out the feature? I do not want to break anything for you. Everything

[2020-02-13 07:45] massimo-ua commented on #65
@alechirsch Yes, you are completely right. Such kind of behavior (my impl) is not obvious and yours is looking much better and straightforward. Can I offer help in fixing this implementation?

[2020-02-13 15:05] #65 closed

[2020-02-13 15:08] alechirsch commented on #65
Released as 1.5.1

[2020-02-14 14:47] #57 closed

[2020-07-16 01:46] alechirsch commented on #60
Release as 1.5.3

[2020-07-16 01:46] #60 closed

[2020-07-16 01:49] #1 closed

[2021-07-14 09:42] sl-ffx opened #75 "associations and custom schema generates wrong query"
Hi,

The bookshelf-jsonapi-params generates a query which failes on postgres. Maybe it's a special case, because we are using the postgres schema.
The problem is on [these lines](https://github.com/scoutforpets/bookshelf-jsonapi-params/blob/master/src/index.js#L253-L255). The `joinTableName` also contains the schema. Because the alias ("as") does not distinguish the schema it interprets the name a

[2021-07-14 17:09] alechirsch commented on #75
The alias was necessary to differentiate between different relationships. If you have multiple relationships that use the same mapping table, this would cause incorrect results. This is an edge case where you are using schema. Is there a particular reason why you are specifying the schema? You can set the schema that you want to use in your knexfile (searchPath) if you are using something other th

[2021-07-14 17:34] sl-ffx commented on #75
Ok. That sounds logical.

I know this sounds very ugly, but we have a project with multiple seperated applications in it and they all use the same database.
We use the schema so every applications have their own tables without thinking about unique table names.
To use the searchPath in the knexfile I would have to create a knex instance for every application which I want to prevent because of the

[2021-07-14 18:06] alechirsch commented on #75
We could make a change to replace `.` with `_` for the alias? That may solve for your issue. Feel free to submit a PR for that.

[2021-07-14 23:07] alechirsch commented on #75
@sl-ffx Do you want to make this change or should I do it?

[2021-07-15 05:52] sl-ffx commented on #75
Can you make this change?
I'm not able to run the tests. It always stuck in the `before` hook in the `common.js` and I don't want to push anything without testing it.

[2021-07-15 05:56] alechirsch commented on #75
To run the tests you need to create a postgres database. The details for
the connection are in the test file.

You can also make a PR and I can run the tests.

On Wed, Jul 14, 2021, 11:52 PM Stefan Laimer ***@***.***>
wrote:

[2021-07-15 05:59] sl-ffx commented on #75
Yea.. I used an existing postgres database and created the role + database. I don't even get any outputs on setting `debug: true` in the knex config.

Ok. If you can run the tests for me I'm going to create a PR.

[2021-07-15 06:16] sl-ffx commented on #75
Created PR #76

[2021-07-15 21:36] #75 closed

[2022-01-06 16:40] jvdgoltz opened #81 "filtering on a 'hasMany' relationship with pagination results in less rows than expected"
Hi,

We have a model that has a `hasMany` relation. For example:
[code]

If we now make a query like this:
[code]
we expect to get the first 12 forests that have maple trees inside them. In reality we get less than 12, as it seems that either:
- first the rows are fetched and then the filter is applied _or_
- the `pageSize` parameter refers to the number of trees and not to the number of forests a

[2022-01-06 19:35] alechirsch commented on #81
Think about it from the SQL query perspective.

This generates the query
[code]
If you run this query on your database you should see the same exact results that the package returns.
There are a couple of things that you can do here:
- Add distinct keyword to the query
[code]
- Use an exists keyword instead of filter
[code]

[2022-01-07 11:12] jvdgoltz commented on #81
Hi Alec,
thanks for your quick and useful reply.
The first solution works, we haven't tested the second one.
For completeness, we also had to add a `qb.select(...)` to the query when we want to sort by a column name from a relation. Otherwise you will get a `for SELECT DISTINCT, ORDER BY expressions must appear in select list`.

[2022-01-07 11:12] #81 closed

[2022-10-03 12:47] svanschooten opened #83 "How to sort with `NULLS LAST` clause?"
As we have some data in nested JSONB columns, we use the additionalQuery to add select and ordering for these columns, we need to do this manually is because we need put `null` values last, which (afaik) is not possible with the JsonApiParams. However, this introduces certain complications, such as also needing to inject your own select clauses for the columns we want to sort on.

Is there a way w